<div class="calculator-container">
  <h1 class="title">Obliczanie powierzchni i obwodu figur geometrycznych</h1>

  <!-- Wybór figury -->
  <select [(ngModel)]="selectedShape" class="shape-select">
    <option value="circle">Koło</option>
    <option value="square">Kwadrat</option>
    <option value="rectangle">Prostokąt</option>
  </select>

  <!-- Przekaż selectedShape, promień, bok, długość i szerokość jako dane wejściowe do komponentu podrzędnego -->
  <app-shape-calculator
    (resetCalculated)="updatedResult($event)"
  ></app-shape-calculator>

  <!-- Wynik -->
  <div *ngIf="result" class="result">
    <p>{{ result }}</p>
  </div>
</div>
